[submodule "full_arm_optimization_twists/ModernRobotics"]
	path = full_arm_optimization_twists/ModernRobotics
	url = https://github.com/lasithagt/ModernRobotics.git
[submodule "npy-matlab"]
	path = npy-matlab
	url = git@github.com:lasithagt/npy-matlab.git
